@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  @apply text-default-text;
}

.image-container-masking{
    -webkit-mask-image: url('/assets/MASKING.svg');
    -webkit-mask-size: contain;
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
}

.bg-primary {
  background-color: #A91D3A;
}

.bg-accent {
  background-color: #151515;
}

.image-gray{
  filter: brightness( 0% ) contrast( 0% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
}